*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

body{
    background: linear-gradient(to right,#36d1dc,#5b86e5);
    margin: 0;
    padding: 0;
    height: 100vh;
}

.calc-grid{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: grid;
    grid-template-columns: repeat(4,100px);
    grid-template-rows: minmax(130px,auto) repeat(5,100px);
    gap:1px white;
    touch-action: manipulation;
}

.calc-grid > button{
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    background-color: rgba(255,255,255, 0.75);
    touch-action: manipulation;
}

.calc-grid > button:hover{
    cursor: pointer;
    font-size: 2.1rem;
    border: 1px solid white;
    background-color: rgba(255,255,255, 0.95);
    touch-action: manipulation;
}

.calc-grid .current:hover {
    font-size: 3rem;
}

.span-two{
    grid-column: span 2;
}

.output{
    background: rgb(0,0,0,.65);
    grid-column: 1/-1;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.output .previous{
    color:rgba(255,255,255,0.7);
    font-size:1.5rem
}

.output .current{
    color:white;
    font-size: 2.5rem;
}